[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "microdiluteR"]
	path = microdiluteR
	url = https://github.com/silvia-eckert/microdiluter
